[submodule "modules/nginx-otel"]
	path = modules/nginx-otel
	url = https://github.com/nginxinc/nginx-otel.git
[submodule "modules/ngx_http_proxy_connect_module"]
	path = modules/ngx_http_proxy_connect_module
	url = https://github.com/chobits/ngx_http_proxy_connect_module.git
[submodule "modules/nginx_upstream_check_module"]
	path = modules/nginx_upstream_check_module
	url = https://github.com/yaoweibin/nginx_upstream_check_module.git
[submodule "modules/nginx-module-vts"]
	path = modules/nginx-module-vts
	url = https://github.com/vozlt/nginx-module-vts.git
[submodule "modules/nginx-upstream-dynamic-resolve-servers"]
	path = modules/nginx-upstream-dynamic-resolve-servers
	url = https://github.com/zhaofeng0019/nginx-upstream-dynamic-resolve-servers.git
[submodule "modules/nginx-upsync-module"]
	path = modules/nginx-upsync-module
	url = https://github.com/weibocom/nginx-upsync-module.git
[submodule "modules/nginx_tcp_proxy_module"]
	path = modules/nginx_tcp_proxy_module
	url = https://github.com/yaoweibin/nginx_tcp_proxy_module.git
[submodule "modules/nginx-stream-upsync-module"]
	path = modules/nginx-stream-upsync-module
	url = https://github.com/xiaokai-wang/nginx-stream-upsync-module.git
